.passwordsPage {
  display: grid;
  grid-template-columns: 16% 84%;
  height: 100dvh;

  > button {
    position: absolute;
    right: 4rem;
    top: 2rem;
    display: inline-block;
    height: 2.5rem;
    padding: .4rem 1.2rem;
    background-color: white;
    color: var(--dark);
    box-shadow: 0 0 0 4px var(--blue) inset;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all .1s ease-out;
  }

  > button:hover, > button:focus-visible {
    background-color: var(--lightblue);
  }
}

.side {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--yellow);
  user-select: none;
  animation: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 sideSlideIn forwards;
  transform-origin: left;

  div {
    height: 100%;
    width: 16dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    font-size: 5.5rem;
    font-weight: 500;
    pointer-events: none;
    transform: translateX(-15dvw) rotate(-90deg);
    animation: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s 1 textSlideIn forwards;
  }
}

.transition {
  animation: .5s cubic-bezier(0.55, 0.085, 0.68, 0.53) .3s 1 sideSlideOut forwards;

  div {
    animation: .3s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s 1 textSlideOut forwards;
  }
}

.passwords {
  position: relative;
  display: grid;
  grid-template-rows: 20dvh 60dvh;
  margin-right: 16dvw;

  h1 {
    display: none;
  }

  > div:last-child {
    margin-left: 5dvw;
    margin-top: 7dvh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.controls {
  display: flex;
  gap: 5dvw;
  align-items: flex-end;
  justify-content: center;

  input {
    width: 14dvw;
    min-width: 10rem;
    height: 2.5rem;
    padding: .2rem .8rem;
    border: 4px var(--blue) solid;
    transition: all .3s ease-in;
    font-size: 1rem;
  }

  input:focus {
    box-shadow: 4px 4px var(--blue);
    border-color: var(--darkblue);
  }

  button {
    display: inline-block;
    height: 2.5rem;
    padding: .4rem 1.2rem;
    background-color: var(--blue);
    color: white;
    border: 4px transparent solid;
    font-size: 1rem;
    font-weight: 500;
    transition: all .1s ease-out;
  }

  button:hover, button:focus-visible {
    background-color: var(--darkblue);
    box-shadow: 4px 4px var(--blue);
  }
}

@media only screen and (max-width: 700px) {
  .passwordsPage {
    display: flex;

    > button {
      right: 5dvw;
      top: 5dvw;
    }
  }

  .passwords {
    grid-template-rows: 8rem 12dvh 60dvh;
    width: 100dvw;
    margin-top: 2rem;
    margin-right: 5dvw;
    margin-left: 5dvw;

    h1 {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    div:last-child {
      margin-left: 0;
    }
  }

  .controls {
    input {
      width: 100%;
    }

    button {
      white-space: nowrap;
    }
  }

  .side {
    position: absolute;
    right: 0;
    height: 100dvh;
    width: 100dvw;
    animation: .8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 sideSlideInMobile forwards;

    div {
      display: none;
    }
  }

  .transition {
    animation: .5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s 1 sideSlideOutMobile forwards;
  }
}

@keyframes sideSlideIn {
  0% { transform: scaleX(6.25); }
  100% { transform: scaleX(1); }
}

@keyframes sideSlideOut {
  0% { transform: scaleX(1); }
  100% { transform: scaleX(6.25); }
}

@keyframes textSlideIn {
  0% { transform: translateX(-15dvw) rotate(-90deg); }
  100% { transform: translateX(0) rotate(-90deg); }
}

@keyframes textSlideOut {
  0% { transform: translateX(0) rotate(-90deg); }
  100% { transform: translateX(-15dvw) rotate(-90deg); }
}

@keyframes sideSlideInMobile {
  0% { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}

@keyframes sideSlideOutMobile {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}