.passwordTable {
  table-layout: fixed;
  height: min-content;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-weight: 300;

  thead {
    position: sticky;
    top: 0;
    background-color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
  }

  tbody {
    > tr:last-child {
      border: none;
    }
  }
}

.listItem {
  border-bottom: 2px rgba(0, 0, 0, .3) solid;

  th, td {
    padding: .5rem;
    user-select: all;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--orangered);
  }

  button:hover {
    color: var(--lightred);
    font-weight: 500;
  }
}

.listItem:not(thead > tr):hover {
  background-color: var(--lightblue);
}