.passwordTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-weight: 300;
  overflow-y: scroll;

  colgroup {
    col:nth-child(-n+3) {
      width: 12%;
    }

    col:nth-child(4), col:nth-child(5) {
      width: 15%;
    }

    col:nth-child(6) {
      width: 25%;
    }

    col::nth-child(7) {
      width: 9%;
    }
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
  }

  tbody {
    > tr:last-child {
      border: none;
    }
  }
}

.listItem {
  border-bottom: 2px rgba(0, 0, 0, .3) solid;

  th {
    padding: .5rem;
    user-select: none;
  }

  td {
    padding: .5rem;
    user-select: all;

    p {
      position: relative;
      width: fit-content;
    }
  }

  td:last-child {
    text-align: right;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--orangered);
  }

  button:hover {
    color: var(--lightred);
    font-weight: 500;
  }
}

.listItem:not(thead > tr):hover {
  background-color: var(--lightblue);
}

.hideLabel {
  position: relative;
  display: inline-block;

  span {
    display: inline-block;
    position: relative;
    margin: 0;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    appearance: none;
    background-color: var(--dark);
  }

  input:checked {
    display: none;
  }
}

