.passwordTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;

  colgroup {
    col:nth-child(-n+3) {
      width: 12%;
    }

    col:nth-child(4) {
      width: 15%;
    }

    col:nth-child(5) {
      width: 22%;
    }

    col:nth-child(6) {
      width: 18%;
    }

    col::nth-child(7) {
      width: 9%;
    }
  }

  thead {
    position: sticky;
    top: 0;
    background-color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
  }

  tbody {
    > tr:last-child {
      border: none;
    }
  }
}

.listItem {
  border-bottom: 2px rgba(0, 0, 0, .3) solid;

  th {
    padding: .5rem;
    user-select: none;
  }

  td {
    padding: .5rem;
    user-select: all;

    p {
      position: relative;
      width: fit-content;
    }
  }

  td:last-child {
    text-align: right;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--orangered);
  }

  button:hover {
    color: var(--lightred);
    font-weight: 500;
  }

  button:last-child {
    display: none;
  }
}

.listItem:not(thead > tr):hover {
  background-color: var(--lightblue);
}

.hide {
  position: relative;
  cursor: pointer;
}

.hide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
}

.desktopOnly {
  display: table-cell;
}

.mobileOnly {
  display: none;
}

@media only screen and (max-width: 500px) {
  .passwordTable {
    tbody {
      font-size: .95rem;
    }
  }

  .listItem {
    button:nth-child(2) {
      display: none;
    }

    button:last-child {
      display: inline-block;
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .passwordTable {
    colgroup {
      col:nth-child(-n+3) {
        width: 24%;
      }

      col:nth-child(n+4):nth-child(-n+6) {
        width: 0;
      }

      col::nth-child(7) {
        width: 28%;
      }
    }

    thead p {
      display: none;
    }
  }

  .desktopOnly > p, .desktopOnly > span {
    display: none;
  }

  .mobileOnly {
    display: table-row;
  }

  .foldOutContent {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;

    div {
      display: flex;
      justify-content: space-between;
    }

    span {
      user-select: all;
    }
  }

  .toggleButton {
    margin-right: 1rem;
    font-size: 1em;
  }

  .collapsedRow {
    display: none;
  }

  .expandedRow {
    display: table-row;
    border-bottom: 2px rgba(0, 0, 0, .3) solid;
  }

  .listItem.expanded {
    border-bottom: 2px rgba(0, 0, 0, .3) dashed;
  }
}